/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
    /* top banner start */
 .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse; 
    margin-bottom: 30px;
}
.logo{
    width:100%
}
.b-img{
    width: 100%;

}
.b-img img{
    width: 100%;
    margin-top: 0;
}
.b-content{
    width: 90%;
    padding: 0;

}
.b-content h1{
    font-size: 22px;
    margin-bottom: 0;
    line-height: 40px;
}
.b-content a{
    padding: 14px 14px;
    margin-left: -12px;
    border-radius: 10px;

}
.b-content i{
    padding-left: 5px;
}
.b-content p{
    margin-top: 5px;
}
 /* top banner end */

 /* collection start */

 .collection{
    grid-template-columns: repeat(1,1fr);
}
.see-more{
    margin-top: 40px;
}
 /* collection end */
 .first{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photo{
    width: 100%;
}
.content{
    width: 90%;
}
.content h1{
    font-size: 20px;
}
.photo img{
    width: 100%;
    object-fit: fill;
}
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
 /* top banner start */
 .banner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 40px;
}
.b-img{
    width: 100%;

}
.b-img img{
    width: 100%;
    margin-top: 0;
}
.b-content{
    width: 90%;
    padding: 0;

}
.b-content h1{
    font-size: 30px;
    margin-bottom: 0;
    line-height: 60px;
}
.b-content a{
    padding: 14px 10px;
    margin-left: -12px;
    border-radius: 20px;

}
.b-content i{
    padding-left: 5px;
}
 /* top banner end */

 /* logo start */
  .logo{
     width:100%
 }

/* logo end */

/* collection satart */
.collection{
    grid-template-columns: repeat(1,1fr);
}
.see-more{
    margin-top: 40px;
}
/* collection end */

.first{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.photo{
    width: 100%;
}
.content{
    width: 90%;
}
.content h1{
    font-size: 25px;
}
}
.photo img{
    width: 100%;
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
 /* top banner start */
 .b-content h1 {
    font-size: 30px;
    line-height: 60px;
}
.b-img img{
    margin-top: 0;
}
.b-content a{
    padding: 8px 15px;
}
 /* top banner end */

 .logo{
    width:100%
}
/* collection start */
.collection{
    grid-template-columns: repeat(2,1fr);
}
.see-more{
    margin-top: 40px;
}
/* collection end */

.photo{
    width: 50%;
 }
 .content{
    width: 45%;
 }
 .content h1{
    font-size: 21px;
 }

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
 .photo{
    width: 45%;
 }
 .content{
    width: 45%;
 }
 .content h1{
    font-size: 29px;
 }

}
 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width:1399.98px){
  
}
 /* Extra Extra large devices (large desktops, 1400px and up) */
@media (min-width: 1400px) {
    
}